body {
  margin: 0;
  font-family: ShantellSans-Light, Mukta-Light;
  background-image: url(../public/images/play-room.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@font-face {
  font-family: ShantellSans-Bold;
  src: url(../public/fonts/ShantellSans/ShantellSans-Bold.ttf);
}
@font-face {
  font-family: ShantellSans-BoldItalic;
  src: url(../public/fonts/ShantellSans/ShantellSans-BoldItalic.ttf);
}
@font-face {
  font-family: ShantellSans-Light;
  src: url(../public/fonts/ShantellSans/ShantellSans-Light.ttf);
}
@font-face {
  font-family: Mukta-Light;
  src: url(../public/fonts/Mukta/Mukta-Light.ttf);
}
